@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, system-ui, sans-serif;
  background-color: #f9fafb;
}

.dark body {
  background-color: #111827;
  color: #f9fafb;
}
